/* Estilo geral do pop-up */
.popup-page {
    max-width: 500px;
    padding: 1.5rem;
  }
  
  .popup-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilos para o botão */

  
  .suggestions-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
  
  /* Ajustes para dispositivos móveis */
  @media (max-width: 640px) {
    .popup-page {
      max-width: 87%;
      padding: 1rem;
    }
  
    .__title h2 {
      font-size: 1.25rem;
    }
  
    .suggestions-container {
      grid-template-columns: repeat(2, 1fr); /* Cards em duas colunas no mobile */
    }
  
    /* Botão com position absolute no mobile */
    .data-button-content {
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  