@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  img {
    @apply inline-block;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply transition-all ease-out duration-300;
  font-family: "Poppins", sans-serif;
}

.capture_div {
  line-height: normal !important;
}

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #dbdafe !important;
  box-shadow: none !important;
}


.rbc-event:nth-child(1) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(2) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(3) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(4) {
  background-color: #fdf2fb !important;
}
.rbc-event:nth-child(5) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(6) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(7) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(8) {
  background-color: #fdf2fb !important;
}
 

.fullscreen {
  transform: scale(1.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-x: scroll;
  z-index: 1000;
}

.menu-item-wrapper svg{
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.menu-item-wrapper svg path{
 fill: gray;
}

.menu-item-wrapper svg polygon{
  fill: gray;
}

.tooltip {
  opacity: 0;
  transform: translateY(-50%) translateX(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.tooltip-show {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}

.tooltip-hide {
  opacity: 0;
  transform: translateY(-50%) translateX(-10px);
}


/* Transições de opacidade e slide */
.card {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
}

.card-enter {
  opacity: 1;
  animation: test 0.5s normal;

}

.card-exit {
  opacity: 0;
  transform: translateY(-20px);
}

@keyframes test {
  0%{opacity: 0;}
  10%{
    opacity: 0;
    transform: translateY(-20px);
  }
  50%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.charts-items-wrapper{
  @apply grid items-center grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 2xl:grid-cols-3 gap-8 place-items-center pb-16;
}

.chart-content-wrapper{
  @apply bg-white shadow-xl rounded-lg p-6 w-full flex flex-col items-center transition-all transform hover:shadow-2xl
}

.chart-wrapper{
  width: 100%;
}

.layer-ui__wrapper__footer{
  background: none !important;
  height: auto !important;
  box-shadow: none !important;
}

/* LIMPAR COISAS DO EXCALIDRAW */
.default-sidebar-trigger, .dropdown-menu-group, .HelpDialog__header {
  display: none !important;
}

.Island .dropdown-menu-container > :nth-child(4),
.Island .dropdown-menu-container > :nth-child(5),
.Island .dropdown-menu-container > :nth-child(2) {
  display: none !important;
}



/*  */

@keyframes progressIndeterminate {
  0%   { transform: translateX(-100%) }
  100% { transform: translateX(100%)  }
}

.animate-progress {
  animation: progressIndeterminate 1.5s ease-in-out infinite;
}

/* SVG WAVE HOME PAGE*/
:root {
  --svg-gradient-start: #eff6ff; /* from-blue-50 (modo claro) */
  --svg-gradient-end:   #dbeafe; /* to-blue-100 (modo claro) */
}

.dark {
  --svg-gradient-start: #2b3a4d; /* from-[#27384b] (modo escuro) */
  --svg-gradient-end:   #0C1B2B; /* to-[#0C1B2B] (modo escuro) */
}

.leaflet-container{
  z-index: 0 !important;
  filter:saturate(1.5) hue-rotate(10deg);
}

/* Estiliza o balão do popup */
.leaflet-popup-content-wrapper {
  background: #f8f9fa !important; /* Cinza claro para um tom mais suave */
  color: #333; /* Cor do texto */
  font-family: Arial, sans-serif;
  border-radius: 12px; /* Bordas mais arredondadas */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); /* Sombra mais forte */
  padding: 12px;
  border: 2px solid #0077cc; /* Borda azul */
}

/* Estiliza a "frestinha" do balão */
.leaflet-popup-tip-container {
}

/* OU: Se quiser apenas mudar a cor da flecha */
.leaflet-popup-tip {
  background: #0077cc !important; /* Mesma cor da borda do balão */
}

.leaflet-control-attribution{
  display: inline-flex;
  width: max-content;
}
